<p>
  termin-liste works!
</p>

<div class="container">
<!-- panel default --> 
<div class="panel panel-default" id="masterdiv"> 
  <!-- panel heading -->
  <div class="panel-heading" id="Ueberschrift">
    <h1>{{pageTitle}}</h1>
  </div>
  <!-- panel body -->
  <div class="panel-body">

    <table class="table">
      <thead>
        <tr>
          <th>Termin</th>
          <th>Teilnehmer</th>
          <th>Teilnehmer Firma</th>
          <th>Clear Group Mitarbeiter</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
        </tr>
        <tr>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
          </tr>
          <tr>
              <td>...</td>
              <td>...</td>
              <td>...</td>
              <td>...</td>
              <td>...</td>
              <td>...</td>
              <td>...</td>
            </tr>
            <tr>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
              </tr>
              <tr>
                  <td>...</td>
                  <td>...</td>
                  <td>...</td>
                  <td>...</td>
                  <td>...</td>
                  <td>...</td>
                  <td>...</td>
                </tr>
                <tr>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                  </tr>
                  <tr>
                      <td>...</td>
                      <td>...</td>
                      <td>...</td>
                      <td>...</td>
                      <td>...</td>
                      <td>...</td>
                      <td>...</td>
                    </tr>
                    <tr>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                      </tr>
                      <tr>
                          <td>...</td>
                          <td>...</td>
                          <td>...</td>
                          <td>...</td>
                          <td>...</td>
                          <td>...</td>
                          <td>...</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                          </tr>
                          <tr>
                              <td>...</td>
                              <td>...</td>
                              <td>...</td>
                              <td>...</td>
                              <td>...</td>
                              <td>...</td>
                              <td>...</td>
                            </tr>
                            <tr>
                                <td>...</td>
                                <td>...</td>
                                <td>...</td>
                                <td>...</td>
                                <td>...</td>
                                <td>...</td>
                                <td>...</td>
                              </tr>
                              <tr>
                                  <td>...</td>
                                  <td>...</td>
                                  <td>...</td>
                                  <td>...</td>
                                  <td>...</td>
                                  <td>...</td>
                                  <td>...</td>
                                </tr>
                                <tr>
                                    <td>...</td>
                                    <td>...</td>
                                    <td>...</td>
                                    <td>...</td>
                                    <td>...</td>
                                    <td>...</td>
                                    <td>...</td>
                                  </tr>
                                  <tr>
                                      <td>...</td>
                                      <td>...</td>
                                      <td>...</td>
                                      <td>...</td>
                                      <td>...</td>
                                      <td>...</td>
                                      <td>...</td>
                                    </tr>

        
        

      </tbody>
    </table>
  </div>
  <!-- panel center -->
  <div class="center">
    <ul class="pagination pagination">
      <li class="prev disabled">Vorherige</li>
      <li class="active">1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li class="disabled"></li>
      <li>23</li>
      <li>24</li>
      <li class="next">Nächste</li>
    </ul>

  </div>
  <!-- panel footer -->
  <div class="panel-footer">

  </div>

  <!-- ende panel default -->
</div>
</div>