<nav class="navbar navbar-static-top navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <img src="..\..\assets\Images\logo_clear_alten.jpg"/>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#">
            <span class="glyphicon glyphicon-calendar"></span>
              Kalender
          </a>
        </li>
        <li>
          <a href="#">
            <span class="glyphicon glyphicon-list"></span>
            Termine
          </a>
        </li>
        <li>
          <a href="#">
            <span class="glyphicon glyphicon-plus"></span>
            Neuer Termin
          </a>
        </li>
        <li>
          <a href="#">
            <span class="glyphicon glyphicon-picture"></span>
            Bilder
          </a>
        </li>
        <li>
          <a href="#">
            <span class="glyphicon glyphicon-cloud-upload"></span>
            Neues Bild
          </a>
        </li>
        <li>
          <a href="#">
            <span class="glyphicon glyphicon-info-sign"></span>
            Hilfe
          </a>
        </li>
        <li>
          <a href="#">
            <span class="glyphicon glyphicon-log-out"></span>
            Abmelden
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
